h2 {
	margin bottom: 0;
	pading-bottom: 0;
}

h3 {
	font-size: 1em;
  color: #6b6b6b;
	display: inline;
}

.btn-primary {
	width: 160px;
	height: 35px;
  background-color: #7bd2bb;
  margin-top: 20px;
	border: 1px solid #6EBDA8;
	border-bottom: 2px solid #63AA97;
	border-radius: 4px;
	font-family: "freight-sans-bold"
	font-size: 1.5em;
	color: white;
}

body{
	font: 50 1.1/2rem;
	font-family: "freight-sans-pro";
	color: #333;
}

input.submit {
	border: 10px;
	margin: 50px;
}

.container-fluid {
  max-width: 926px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 0rem;
  position: relative;
  box-sizing: inherit;
}

button.accordion {
  color: #27a5cd;
  background-color: white;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  padding: 0;
	display: inline;
}

div.panel {
    padding: 0;
    background-color: white;
    display: none;
}

div.panel.show {
  display: block !important;
}

form {
        margin-top: 10px;
        line-height:26px;
        font-family: "freight sans", sans-serif;
        font-size: 3em;
        	ul { margin: 0; }
        	li {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            display: inline-block;
            list-style-type: none;
            width: 38%;
            margin: 0 8px 20px 0;

            vertical-align: top;
            &.button { width: auto;
            padding: 10px 0px 10px 10px; }
        }
        .form-control {
        	width: 200px;
        }
        #extra-space {
			padding-top: 50px;
		}
}

textarea {
  margin-top: 10px;
  font-family: "freight sans", sans-serif;
  font-size: .25em;
}

#info {
  float: right;
  margin-top: 30px;
  width: 20%;
  border:2px;
  border-style: solid;
  border-color: #f2eaf7;
  background-color: #f3effa;
  adding: 1em;
  margin-right: 0px;
  padding: 20px;
}


#section {
    width:350px;
    float:left;
    padding:10px;
}

ul#links {
  list-style-type: none;
  line-height: 22px;
  font-size: 15px;
  text-align: left;
  border-left: 1px solid #eee;
}

a {
  color: #27a5cd;
  -o-transition:color .2s ease-out, background 2s ease-in;
  -ms-transition:color .2s ease-out, background 2s ease-in;
  -moz-transition:color .2s ease-out, background 2s ease-in;
  -webkit-transition:color .2s ease-out, background 2s ease-in;
  transition:color .2s ease-out, background 2s ease-in;
  text-decoration: none;
}

a:hover {
  color: black;
  background: white;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
