#header {
    background-color:black;
    color:white;
    text-align:center;
}


h3 {
	font-size: 1em;
  color: #6b6b6b;
}

aside {

}


.btn-primary {
	width: 150px;
	height: 30px;
  background-color: #d9007d;
  margin-top: 20px;
}
body{
	font: 50 1.1rem/3rem;
	font-family:"freight-sans-pro";
	color: #333;
}

input.submit {
	border: 10px;
	margin: 50px;
}
.container-fluid {
	margin: 0px 0px 0px 50px;
  padding-left: 15px;
}


form {
        margin-top: 10px;
        line-height:26px;
        	ul { margin: 0; }
        	li {
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            display: inline-block;
            list-style-type: none;
            width: 38%;
            margin: 0 8px 20px 0;

            vertical-align: top;
            &.button { width: auto;
            padding: 10px 0px 10px 10px; }
        }
        .form-control {
        	width: 200px;
        }

        #extra-space {
			padding-top: 50px;
		}
}



#info-container {
  float: right;
  margin-top: 30px;
  width: 20%;
  border:2px;
  border-style: solid;
  border-color: #d4d3d3;
  adding: 1em;
  margin-right: 60px;
  padding: 20px;
}

#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
